<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 offset-md-2 ms-5 resume-background-color">
        <section class="resume-section p-3 p-lg-5 d-flex align-items-center", id="about">
          <div class="w-100">
            <h1 class="mb-0 resume-about">Sean Riedl</h1>
            <h5 class="mb-5 resume-subheader">Washington, DC - SMRIEDL@GMAIL.COM</h5>
            <p>Lorem ipsum dolor sit amet, consectetur 
            adipiscing elit, sed do eiusmod tempor incididunt ut 
            labore et dolore magna aliqua. Ut enim ad minim veniam, 
            quis nostrud exercitation ullamco laboris nisi ut aliquip 
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            Excepteur sint occaecat cupidatat non proident, 
            sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </section>
        <section class="resume-section p-3 p-lg-5 d-flex align-items-center", id="projects">
          <div class="w-100">
            <h2 class="m-0 resume-section-header">Notable Projects</h2>
            <h5 class="mb-5 resume-subheader">My entire portfolio can be view on <%= link_to "my Github", "https://github.com/seanmr7" %></h5>
            <p>Lorem ipsum dolor sit amet, consectetur 
            adipiscing elit, sed do eiusmod tempor incididunt ut 
            labore et dolore magna aliqua. Ut enim ad minim veniam, 
            quis nostrud exercitation ullamco laboris nisi ut aliquip 
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            Excepteur sint occaecat cupidatat non proident, 
            sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </section>
        <section class="resume-section p-3 p-lg-5 d-flex align-items-center", id="experience">
          <div class="w-100">
            <h2 class="mb-5 resume-section-header">Experience</h2>
            <p>Lorem ipsum dolor sit amet, consectetur 
            adipiscing elit, sed do eiusmod tempor incididunt ut 
            labore et dolore magna aliqua. Ut enim ad minim veniam, 
            quis nostrud exercitation ullamco laboris nisi ut aliquip 
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            Excepteur sint occaecat cupidatat non proident, 
            sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur 
            adipiscing elit, sed do eiusmod tempor incididunt ut 
            labore et dolore magna aliqua. Ut enim ad minim veniam, 
            quis nostrud exercitation ullamco laboris nisi ut aliquip 
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            Excepteur sint occaecat cupidatat non proident, 
            sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </section>
        <section class="resume-section p-3 p-lg-5 d-flex align-items-center", id="education">
          <div class="w-100">
            <h2 class="mb-5 resume-section-header">Education</h2>
            <p>Lorem ipsum dolor sit amet, consectetur 
            adipiscing elit, sed do eiusmod tempor incididunt ut 
            labore et dolore magna aliqua. Ut enim ad minim veniam, 
            quis nostrud exercitation ullamco laboris nisi ut aliquip 
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            Excepteur sint occaecat cupidatat non proident, 
            sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </section>
        <section class="resume-section p-3 p-lg-5 d-flex align-items-center", id="skills">
          <div class="w-100">
            <h2 class="mb-5 resume-section-header">Skills</h2>
            <p>Lorem ipsum dolor sit amet, consectetur 
            adipiscing elit, sed do eiusmod tempor incididunt ut 
            labore et dolore magna aliqua. Ut enim ad minim veniam, 
            quis nostrud exercitation ullamco laboris nisi ut aliquip 
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            Excepteur sint occaecat cupidatat non proident, 
            sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </section>
        <section class="resume-section p-3 p-lg-5 d-flex align-items-center", id="interests">
          <div class="w-100">
            <h2 class="mb-5 resume-section-header">Interests</h2>
            <p>Lorem ipsum dolor sit amet, consectetur 
            adipiscing elit, sed do eiusmod tempor incididunt ut 
            labore et dolore magna aliqua. Ut enim ad minim veniam, 
            quis nostrud exercitation ullamco laboris nisi ut aliquip 
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            Excepteur sint occaecat cupidatat non proident, 
            sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </section>
      </div>
      <nav class="navbar navbar-expand-md navbar-light bg-light col-md-2", id="resume-sidebar">
        <button 
          class="navbar-toggler ml-auto custom-toggler" 
          type="button" 
          data-toggle="collapse" 
          data-target="#navbarSupportedContent" 
          aria-controls="navbarSupportedContent" 
          aria-expanded="false" 
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="resume-nav-list">
            <li class="nav-item"><%= link_to "ABOUT", "#about", class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "PROJECTS", "#projects", class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "EXPERIENCE", "#experience", class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "EDUCATION", "#education", class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "SKILLS", "#skills", class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "INTERESTS", "#interests", class: "nav-link" %></li>
          </ul>
        </div>
      </nav>

  </div>
</div>