<!DOCTYPE html>
<html>
  <head>
    <title>BlogPortfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="">
      <p>nav bar</p>
      <% if admin_signed_in? %>
        <%= current_admin.email %>
      <% end %>
    </nav>

    <%= yield %>
  </body>
</html>
