<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="body-color">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to "Sean Blog", '/', class: "navbar-brand" %>
      <button 
        class="navbar-toggler ml-auto custom-toggler" 
        type="button" 
        data-toggle="collapse" 
        data-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto p-2">
          <li class="nav-item nav-link">Resume</li>
          <li class="nav-item nav-link"></li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 content-background-color">
          <div class="col-md-10 offset-md-1">
            <%= yield %>
          </div>
        </div>
        <div class="col-md-2 offset-md-10 sidebar justify-content-center">
          <%= image_tag("profile-picture/profile-picture.jpg", size: "170x170", class: "rounded-circle profile-image") %>
          <p class="profile-blurb">
            Hi, I'm Sean! I work full time as a mechanical engineer 
            designing commercial plumbing systems. I'm teaching myself 
            web development with an end goal of changing career paths
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
